body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.product-card {
  width: 180px;
  height: 300px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 12px;
  overflow: hidden;
}

.product-img {
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

.product-contents {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.product-name {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin: 1 auto;
}
.product-subtext {
  font-size: 13px;
  margin: 0 auto;
  margin-top: 5px;
  color: gray;
}
.product-price {
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 4px;
}

.product-seller {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.product-avatar {
  width: 24px;
}
